<mat-tab-group
	[(selectedIndex)]="currentSubTab"
	(selectedIndexChange)="onTabChange($event)">
	<mat-tab *ngFor="let tab of tabComponents" [label]="tab.label"></mat-tab>
</mat-tab-group>

<ng-container *ngIf="data$ | async as superSet">
	<div *ngFor="let sub of superSet; let i = index">
		<table
			mat-table
			[dataSource]="sub.questions"
			*ngIf="currentSubTab === i"
			class="w-100">
			<ng-container matColumnDef="questionid">
				<th mat-header-cell *matHeaderCellDef>
					<span class="d-none d-md-inline">ID</span>
					<span class="d-md-none">#</span>
				</th>
				<td mat-cell *matCellDef="let element">
					{{ element.questionid }}
				</td>
			</ng-container>

			<ng-container matColumnDef="questionstring">
				<th mat-header-cell *matHeaderCellDef>String</th>
				<td mat-cell *matCellDef="let element">
					{{ element.questionstring }}
				</td>
			</ng-container>

			<ng-container matColumnDef="score">
				<th mat-header-cell *matHeaderCellDef>Score</th>
				<td mat-cell *matCellDef="let element">
					<mat-form-field class="w-100">
						<input
							matInput
							type="number"
							[(ngModel)]="element.score"
							(ngModelChange)="onScoreChange(element)"
							min="0"
							max="10" />
					</mat-form-field>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
		</table>
	</div>
</ng-container>
