<!-- Forgot Password Page -->
<div class="container mt-5">
	<!-- Request OTP Form -->
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<p class="h1 text-center">Forgot Password</p>
			<form id="requestOtpForm">
				<div class="form-group">
					<label for="emailInput">Email address</label>
					<input
						type="email"
						class="form-control"
						id="emailInput"
						aria-describedby="emailHelp"
						placeholder="Enter email"
						required />
					<small id="emailHelp" class="form-text text-muted">We'll send an OTP to reset your password.</small>
				</div>
				<button type="submit" class="btn btn-primary">Receive Mail</button>
			</form>
		</div>
	</div>

	<!-- Reset Password Form -->
	<div class="row mt-4">
		<div class="col-md-6 offset-md-3 py-4z">
			<p class="h2 text-center">Reset Password</p>
			<form id="resetPasswordForm">
				<div class="form-group">
					<label for="otpInput">OTP</label>
					<input type="text" class="form-control" id="otpInput" placeholder="One Time Password" required />
				</div>
				<div class="form-group">
					<label for="newPasswordInput">New Password</label>
					<input
						type="password"
						class="form-control"
						id="newPasswordInput"
						placeholder="New Password"
						required />
				</div>
				<button type="submit" class="btn btn-success">Reset Password</button>
			</form>
		</div>
	</div>
</div>
