<div class="container col-8">
	<div
		class="align-items-center file-drop-zone"
		(drop)="onDrop($event)"
		(dragover)="onDragOver($event)"
		(dragleave)="onDragLeave($event)">
		<input type="file" #fileInput hidden (change)="onFileSelected($event)" />
		<button mat-raised-button (click)="fileInput.click()">
			<i class="fa fa-file-upload px-3" aria-hidden="true"></i>
			<span *ngIf="!selectedFile">Choose <b>A</b> file</span>
			<span *ngIf="selectedFile">Choose <b>ANOTHER</b> file</span>
		</button>
		<p class="p-2">or drag and drop files here</p>
		<p class="p-2" *ngIf="selectedFile"><b>File name:</b> {{ selectedFile.name }}</p>
	</div>

	<div class="d-flex justify-content-center p-5 rounded">
		<button mat-raised-button class="col-4" color="primary" (click)="onClickUpload()">UPLOAD</button>
	</div>
</div>
