<!-- page-company-interview.component.html -->

<div class="container mt-4">
	@if (this._ggmeetService.isLoggedIn) {
	<div class="row align-items-center">
		<div class="col-6 fs-5 fw-bold">Current Google Account:</div>
		<div class="col-6 row">
			<div class="col-7 d-flex flex-row align-items-center">
				{{ this._ggmeetService.identityClaims['name'] }}
				<img
					width="35px"
					height="35px"
					class="ms-2 rounded-5"
					[src]="this._ggmeetService.identityClaims['picture']" />
			</div>
			<button
				class="col-5 px-3"
				(click)="this._ggmeetService.logout()"
				mat-raised-button
				color="primary">
				Logout
			</button>
		</div>
	</div>
	}
	<mat-card>
		<mat-card-content>
			<div class="row mb-5">
				<div class="col-12">
					<h1 class="display-4 font-weight-bold text-dark">
						Interview
					</h1>
				</div>

				<ng-container *ngIf="role !== null">
					<div class="col-12">
						<div class="row">
							<ng-container>
								<!-- <div
									class="col-12 col-md-3 mb-3"
									*ngIf="role && role !== 'Interviewer'">
									<mat-form-field
										appearance="fill"
										class="w-100">
										<mat-label>Company...</mat-label>
										<mat-select
											[(ngModel)]="companyChoose"
											(selectionChange)="
												handleChooseCompany(
													$event.value
												)
											">
											<mat-option
												*ngFor="
													let company of companies
												"
												[value]="company">
												{{ company.companyName }}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div> -->

								<div class="col-12 col-md-5 mb-3">
									<mat-form-field
										appearance="fill"
										class="w-100">
										<mat-label>Position...</mat-label>
										<mat-select
											[(ngModel)]="positionChoose"
											(selectionChange)="
												handleChoosePosition(
													$event.value
												)
											">
											@for (pos of positions; track pos ){
											<mat-option [value]="pos">
												{{
													pos.positionId!.slice(
														0,
														6
													) +
														'...' +
														' - ' +
														pos.positionName
												}}
											</mat-option>
											}
										</mat-select>
									</mat-form-field>
								</div>
							</ng-container>

							<div class="col-6 col-md-2 mb-3">
								<mat-form-field appearance="fill" class="w-100">
									<mat-label>Status...</mat-label>
									<mat-select
										[(ngModel)]="statusChoose"
										(selectionChange)="
											handleChooseStatus($event.value)
										">
										<mat-option
											[value]="getStatusValue.PENDING">
											<mat-icon>access_time</mat-icon>
											Pending
										</mat-option>
										<mat-option
											[value]="getStatusValue.FINISHED">
											<mat-icon>checked</mat-icon>
											Finished
										</mat-option>
										<mat-option
											[value]="getStatusValue.PASSED">
											<mat-icon>check_circle</mat-icon>
											Passed
										</mat-option>
										<mat-option
											[value]="
												getStatusValue.PASSED_N_MAILED
											">
											<mat-icon>local_shipping</mat-icon>
											Passed and mailed
										</mat-option>
										<mat-option
											[value]="getStatusValue.FAILED">
											<mat-icon>error</mat-icon> Failed
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<div
								*ngIf="statusChoose"
								class="col-6 col-md-2 mb-3">
								<mat-form-field appearance="fill" class="w-100">
									<mat-label>Type...</mat-label>
									<mat-select
										[(ngModel)]="typeChoose"
										(selectionChange)="
											handleChooseType($event.value)
										">
										<mat-option
											[value]="getTypeValue.FACE2FACE">
											<mat-icon>face_unlock</mat-icon>
											Face to Face
										</mat-option>
										<mat-option
											[value]="
												getTypeValue.ONLINE_GG_MEET
											">
											<mat-icon>smartphone</mat-icon>
											Online (Google Meet)
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
					</div>
				</ng-container>
			</div>

			<ng-container *ngIf="dataSource && role !== null">
				<table
					mat-table
					matSort
					[dataSource]="dataSource"
					class="w-100">
					<ng-container matColumnDef="InterviewId">
						<th mat-header-cell *matHeaderCellDef>ID</th>
						<td mat-cell *matCellDef="let interview">
							<a [routerLink]="['./', interview.InterviewId]">
								{{ interview.interviewId!.slice(0, 6) + '...' }}
							</a>
						</td>
					</ng-container>
					<ng-container matColumnDef="CandidateName">
						<th
							mat-header-cell
							mat-sort-header="candidateName"
							*matHeaderCellDef>
							Candidate name
						</th>
						<td mat-cell *matCellDef="let interview">
							<a
								(click)="
									handleProfileDetailClick(
										interview.application!.cv!.candidate!
											.candidateId!
									)
								">
								{{
									interview.application!.cv!.candidate!.user!
										.fullName
								}}
							</a>
						</td>
					</ng-container>
					<ng-container matColumnDef="MeetingDate">
						<th
							mat-header-cell
							mat-sort-header="MeetingDate"
							*matHeaderCellDef>
							Meeting Date
						</th>
						<td mat-cell *matCellDef="let interview">
							{{ interview.meetingDate | date : 'dd/MM/yyyy' }}
						</td>
					</ng-container>
					<ng-container matColumnDef="StartTime">
						<th mat-header-cell *matHeaderCellDef>Start time</th>
						<td mat-cell *matCellDef="let interview">
							{{ interview.startTime }}
						</td>
					</ng-container>
					<ng-container matColumnDef="Location">
						<th
							mat-header-cell
							mat-sort-header="location"
							*matHeaderCellDef>
							Location
						</th>
						<td mat-cell *matCellDef="let interview">
							{{ interview.addressOrStartURL }}
						</td>
					</ng-container>
					<ng-container matColumnDef="Type">
						<th mat-header-cell *matHeaderCellDef>Type</th>
						<td mat-cell *matCellDef="let interview">
							<span
								class="p-2 rounded text-white d-inline-block text-nowrap"
								[ngClass]="{
									'bg-primary':
										interview.interviewType ===
										getTypeValue.FACE2FACE,
									'bg-warning':
										interview.interviewType ===
										getTypeValue.ONLINE_GG_MEET
								}">
								{{
									interview.interviewType ===
									getTypeValue.FACE2FACE
										? 'Face to Face'
										: 'Online (Google Meet)'
								}}
							</span>
						</td>
					</ng-container>
					<ng-container matColumnDef="Status">
						<th mat-header-cell *matHeaderCellDef>Status</th>
						<td
							mat-cell
							*matCellDef="let interview"
							style="white-space: nowrap">
							<span
								class="p-2 rounded text-white"
								[ngClass]="{
									'bg-danger':
										interview.company_Status ===
										getStatusValue.PENDING,
									'bg-warning':
										interview.company_Status ===
										getStatusValue.PASSED,
									'bg-primary':
										interview.company_Status ===
										getStatusValue.FINISHED,
									'bg-success':
										interview.company_Status ===
										getStatusValue.PASSED_N_MAILED,
									'text-dark bg-white':
										interview.company_Status ===
										getStatusValue.FAILED
								}">
								{{
									interview.status === getStatusValue.PASSED
										? 'Passed'
										: interview.company_Status ===
										  getStatusValue.PASSED_N_MAILED
										? 'Passed and mailed'
										: interview.company_Status ===
										  getStatusValue.FAILED
										? 'Failed'
										: interview.company_Status ===
										  getStatusValue.FINISHED
										? 'Finished'
										: 'Pending'
								}}
							</span>
						</td>
					</ng-container>

					<ng-container matColumnDef="Priority">
						<th mat-header-cell *matHeaderCellDef>Priority</th>
						<td mat-cell *matCellDef="let interview">
							{{ interview.priority }}
						</td>
					</ng-container>

					<!-- Add other column definitions here -->

					<ng-container matColumnDef="actions">
						<th mat-header-cell *matHeaderCellDef>Actions</th>
						<td mat-cell *matCellDef="let interview">
							@if (interview.company_Status ===
							getStatusValue.PENDING){
							<button
								mat-icon-button
								color="primary"
								(click)="
									handleDetailClick(interview.interviewId)
								">
								<mat-icon>info</mat-icon>
							</button>
							} @if (interview.interviewType ===
							getTypeValue.ONLINE_GG_MEET &&
							interview.addressOrStartURL == null){
							<button
								mat-icon-button
								color="primary"
								(click)="createGGmeet(interview)">
								<mat-icon>home</mat-icon>
							</button>
							}
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr
						mat-row
						*matRowDef="let row; columns: displayedColumns"></tr>
				</table>

				<mat-paginator
					[pageSizeOptions]="[5, 10, 25, 50, 100]"
					showFirstLastButtons></mat-paginator>
			</ng-container>
		</mat-card-content>
	</mat-card>
</div>
