<!-- <div class="custom-footer bottom-0">
	<div class="row py-2">
		<div class="col-md col-sm">
			<div style="width: max-content" class="mx-auto">
				<div class="custom-row-header fs-5 text-white">
					Recruitment Website
				</div>
				<div class="custom-row">About Recruitment Website</div>
				<div class="custom-row">Question - answer</div>
			</div>
		</div>
		<div class="col-md col-sm">
			<div style="width: max-content" class="mx-auto">
				<div class="custom-row-header fs-5 text-white">Our contact</div>
				<div class="custom-row">
					Email: Recruitmentwebsite&#64;gmail.com
				</div>
				<div class="custom-row">Phone number: 1900 0000</div>
			</div>
		</div>
		<div class="col-md col-sm">
			<div style="width: max-content" class="mx-auto">
				<div class="custom-row-header fs-5 text-white">Follow us</div>
				<div class="custom-row" style="cursor: pointer">Facebook</div>
				<div class="custom-row" style="cursor: pointer">Instagram</div>
				<div class="custom-row-end" style="cursor: pointer">
					LinkedIn
				</div>
			</div>
		</div>
	</div>
</div> -->

<footer
	class="text-white text-center text-lg-start rounded"
	style="background-color: #3f51b5">
	<!-- Grid container -->
	<div class="container p-4">
		<!--Grid row-->
		<div class="row">
			<!--Grid column-->
			<div class="col-lg-6 col-md-12 mb-4 mb-md-0">
				<h5 class="text-uppercase">Footer Content</h5>

				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit.
					Iste atque ea quis molestias. Fugiat pariatur maxime quis
					culpa corporis vitae repudiandae aliquam voluptatem veniam,
					est atque cumque eum delectus sint!
				</p>
			</div>
			<!--Grid column-->

			<!--Grid column-->
			<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
				<h5 class="text-uppercase">Links</h5>

				<ul class="list-unstyled mb-0">
					<li>
						<a href="#!" class="text-white">Link 1</a>
					</li>
					<li>
						<a href="#!" class="text-white">Link 2</a>
					</li>
					<li>
						<a href="#!" class="text-white">Link 3</a>
					</li>
					<li>
						<a href="#!" class="text-white">Link 4</a>
					</li>
				</ul>
			</div>
			<!--Grid column-->

			<!--Grid column-->
			<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
				<h5 class="text-uppercase mb-0">Links</h5>

				<ul class="list-unstyled">
					<li>
						<a href="#!" class="text-white">Link 1</a>
					</li>
					<li>
						<a href="#!" class="text-white">Link 2</a>
					</li>
					<li>
						<a href="#!" class="text-white">Link 3</a>
					</li>
					<li>
						<a href="#!" class="text-white">Link 4</a>
					</li>
				</ul>
			</div>
			<!--Grid column-->
		</div>
		<!--Grid row-->
	</div>
	<!-- Grid container -->
</footer>
