/* .custom-footer {
	background-color: #1c395f;
	z-index: -99999;
} */

/* .custom-row-header {
	width: fit-content;
	margin-bottom: 4px;
} */

/* .custom-row-end {
	width: fit-content;
	color: rgb(182, 206, 250);
	font-size: 17px;
} */

/* .custom-row {
	width: fit-content;
	margin-bottom: 3px;
	color: rgb(182, 206, 250);
	font-size: 17px;
} */
