<!-- PERSONAL DETAIL -->
<div class="card-body">
	<div class="card shadow-sm">
		<div class="card-body">
			<div class="h4">{{ candidate?.user?.fullName }}</div>
			<h4>{{ candidate?.user?.title }}</h4>
			<div class="container">
				<div class="row">
					<div class="col">
						<i class="fa-regular fa-envelope p-2" aria-hidden="true"></i>
						<span
							><b>email: </b>
							<a
								class="text-decoration-none text-primary"
								target="_blank"
								href="mailto:{{ candidate?.user?.email }}"
								>{{ candidate?.user?.email }}</a
							></span
						>
					</div>
					<div class="col">
						<i class="fa fa-phone-slash p-2" aria-hidden="true"></i>
						<span
							><b>phone: </b>
							<a
								target="_blank"
								class="text-decoration-none text-primary"
								href="tel:+{{ candidate?.user?.phoneNumber }}"
								>{{ candidate?.user?.phoneNumber }}</a
							></span
						>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<i class="fa-regular fa-calendar p-2" aria-hidden="true"></i>
						<span><b>Birthday</b>: {{ candidate?.user?.dateOfBirth | date : 'dd/MM/yyyy' }} </span>
					</div>
					<div class="col">
						<i class="fa fa-venus p-2" aria-hidden="true"></i>
						<span><b>Gender</b>: {{ candidate?.user?.gender | uppercase }}</span>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<i class="fa fa-address-book p-2" aria-hidden="true"></i>
						<span><b>Addres</b>: {{ candidate?.user?.address }}</span>
					</div>
					<div class="col">
						<i class="fa fa-globe p-2" aria-hidden="true"></i>
						<span
							><b>Personal link: </b>
							<a
								class="text-primary text-decoration-none"
								target="_blank"
								href="{{ candidate?.user?.personalLink }}">
								{{ candidate?.user?.personalLink }}
							</a>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="position-absolute top-4 end-0 p-2">
			<button mat-button (click)="openDialog()" ngbTooltip="Update information" placement="bottom">
				<i class="fa-regular fa-pen-to-square text-danger"></i>
			</button>
		</div>
	</div>
</div>

<!-- ABOUT ME -->
<div class="card-body">
	<div class="card shadow-sm">
		<div class="card-body">
			<div class="h4">About me</div>
			<mat-divider></mat-divider>
			<div class="py-3">
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui minus non exercitationem aut iusto
					dolorum, veniam atque sit sint, ea placeat dolores incidunt cupiditate, delectus maiores dignissimos
					quo temporibus! Officiis.
				</p>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur itaque maiores exercitationem
					quaerat reiciendis, asperiores quis explicabo unde praesentium! Optio quo deserunt iste officia
					doloremque dicta, quod aliquam. Modi, fugiat?
				</p>
			</div>
		</div>
		<div class="position-absolute top-4 end-0 p-2">
			<button mat-button>
				<i class="fa-regular fa-pen-to-square text-danger"></i>
			</button>
		</div>
	</div>
</div>
