<div class="layout d-flex py-3 px-3 row">
	<div class="d-flex flex-column col-12 col-md-3 flex-shrink-0 p-3 text-white rounded"
		style="background-color: #5462b4">
		<a href="/admin" class="d-flex align-items-center text-white text-decoration-none">
			<span class="fs-4">Admin Dashboard</span>
		</a>
		<hr />
		<ul class="nav nav-pills flex-column mb-auto">
			<div ngbAccordion [closeOthers]="true">
				@for (console of listConsole; track console) {
				<div ngbAccordionItem [collapsed]="console.title !== 'Dashboard'">
					<h2 ngbAccordionHeader>
						<button ngbAccordionButton>{{ console.title }}</button>
					</h2>
					<div ngbAccordionCollapse>
						<div class="d-flex flex-column p-3">
							@for (child of console.children; track child) {
							<div class="p-2">
								@if (child != null) {
								<button mat-button color="primary" class="w-100" (click)="handleClickRoute(child)">
									{{ child }}
								</button>
								}
							</div>
							}
						</div>
					</div>
				</div>
				}
			</div>
		</ul>
		<hr />
	</div>
	<div class="p-3 col-12 col-md-9">
		<router-outlet></router-outlet>
	</div>
</div>