<div style="background-color:#D0D9E1; padding: 30px 30px 30px 30px;">
	<div>
		@if(!isEditForm){
		<h1 style="text-align: center; font-weight: 600;">NEW POSITION</h1>
		}
		@else {
		<h1 style="text-align: center; font-weight: 600;">EDIT POSITION</h1>
		}
		<form class="d-flex flex-column" [formGroup]="addForm">
			<mat-form-field>
				<mat-label>Name</mat-label>
				<input matInput type="text" value="" formControlName="positionName">
				@if(addForm.get('positionName')?.invalid){
				@if(addForm.get('positionName')?.hasError('required')){
				<div style="color: red;">Required.</div>
				}
				}
			</mat-form-field>

			<mat-form-field class="">
				<mat-label>Description</mat-label>
				<textarea style="resize: none;" matInput placeholder="" formControlName="description"></textarea>
				@if(addForm.get('description')?.invalid){
				@if(addForm.get('description')?.hasError('required')){
				<div style="color: red;">Required.</div>
				}
				}
			</mat-form-field>

			<div class="d-flex flex-row">
				<mat-form-field class="" style="width: 120%;">
					<mat-label><i class="bi bi-coin" style="color: rgb(150, 150, 42); font-size: 20px;"></i>
						Salary (USD)</mat-label>
					<input type="number" oninput="this.value=this.value.replace(/[^0-9]/g,'')" matInput placeholder=""
						formControlName="salary">
					@if(addForm.get('salary')?.invalid){
					@if(addForm.get('salary')?.hasError('required')){
					<div style="color: red;">Required.</div>
					}
					@if(addForm.get('salary')?.hasError('min')){
					<div style="color: red;">Min is 1</div>
					}
					}
				</mat-form-field>
				<mat-form-field class="ms-4" style="width: 120%;">
					<mat-label><i class="bi bi-people-fill" style="font-size: 20px;"></i> Max Hiring
						Quantity</mat-label>
					<input type="number" oninput="this.value=this.value.replace(/[^0-9]/g,'')" matInput placeholder=""
						formControlName="maxHiringQty">
					@if(addForm.get('maxHiringQty')?.invalid){
					@if(addForm.get('maxHiringQty')?.hasError('required')){
					<div style="color: red;">Required.</div>
					}
					@if(addForm.get('maxHiringQty')?.hasError('min')){
					<div style="color: red;">Min is 1</div>
					}
					}
				</mat-form-field>
			</div>

			<mat-form-field>
				<mat-label>Time</mat-label>
				<mat-date-range-input [rangePicker]="picker">
					<input matStartDate oninput="this.value=this.value.replace(/[^0-9\/]/g,'')"
						formControlName="startDate" placeholder="Start date">
					<input matEndDate oninput="this.value=this.value.replace(/[^0-9\/]/g,'')" formControlName="endDate"
						placeholder="End date">
				</mat-date-range-input>
				@if(addForm.get('startDate')?.invalid || addForm.get('endDate')?.invalid){
				<span style="color: red;">
					<span>Required: </span>
					@if(addForm.get('startDate')?.hasError('required')){
					<span>Start Date; </span>
					}
					@if(addForm.get('endDate')?.hasError('required')){
					<span>End Date; </span>
					}
				</span>

				}
				<mat-hint style="font-size: 15px; font-weight: 500;">DD/MM/YYYY – DD/MM/YYYY</mat-hint>
				<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-date-range-picker #picker></mat-date-range-picker>
			</mat-form-field>

			<app-autocomplete [fieldName]="'languageName'" [label]="'Language'" [placeholder]="'Ex. English, French'"
				[observableOptions]="this.observableLanguages" [formGroup]="this.addForm"></app-autocomplete>
			<!-- <button (click)="aaa()"></button> -->
			<!-- <mat-form-field class="mt-2">
                <mat-label>Language</mat-label>
                <input type="text" placeholder="Language" aria-label="Number" matInput formControlName="languageName"
                    [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    @for (option of filteredOptions | async; track option) {
                    <mat-option [value]="option.languageName">{{option.languageName}}</mat-option>
                    }
                </mat-autocomplete>

                <input matInput placeholder="" value="" formControlName="languageId">
                @if(addForm.get('languageName')?.invalid){
                @if(addForm.get('languageName')?.hasError('required')){
                <div style="color: red;">Required.</div>
                }
                }
            </mat-form-field> -->

			<app-autocomplete [fieldName]="'categoryPositionName'" [label]="'Category'"
				[placeholder]="'Ex. Digital, Technical'" [observableOptions]="this.observableCategoryPositions"
				[formGroup]="this.addForm"></app-autocomplete>

			<mat-form-field>
				<mat-label>Background image</mat-label>
				<div class="file-upload d-flex mt-3">
					<input matInput hidden placeholder="image">
					{{ this.addForm.get('imageName')?.value || "No file uploaded yet." }}
					<button mat-mini-fab color="primary" class="upload-btn ms-auto" (click)="fileUpload.click()">
						<mat-icon>attach_file</mat-icon>
					</button>
				</div>
				@if(addForm.get('imageName')?.invalid){
				@if(addForm.get('imageName')?.hasError('required')){
				<div style="color: red;">Required.</div>
				}
				}
			</mat-form-field>



			@if (isEditForm) {
			@if (isEdit){
			<div class="d-flex flex-row justify-content-center" style="width: 100%;">
				@if (addForm.valid){
				<button color="primary" style="width: 25%;" class="mx-3" mat-raised-button (click)="editPosition()">
					<span style="font-size: 16px;">Submit</span>
				</button>
				}
				@else {
				<button color="primary" disabled="true" style="width: 25%;" class="mx-3" mat-raised-button
					(click)="editPosition()">
					<span style="font-size: 16px;">Submit</span>
				</button>
				}
				<button color="warn" style="width: 25%;" class="mx-3" mat-raised-button
					(click)="this.isEdit = false; this.addForm.disable()">
					<span style="font-size: 16px;">Cancel</span>
				</button>
			</div>
			}
			@else {
			<button color="primary" mat-raised-button (click)="this.isEdit = true; this.addForm.enable()"> <span
					style="font-size: 16px;">Edit</span>
			</button>
			}
			}
			@else {
			@if (addForm.invalid){
			<button color="primary" disabled="true" mat-raised-button (click)="savePosition()"><span
					style="font-size: 16px;">Submit</span> </button>
			}
			@else {
			<button color="primary" mat-raised-button (click)="savePosition()"> <span
					style="font-size: 16px;">Submit</span>
			</button>
			}
			}

			<!-- <mat-form-field class="mt-2">
                <mat-label>Category</mat-label>
                <input type="text" placeholder="Category" aria-label="Number" matInput formControlName="categoryPositionName"
                    [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    @for (option of filteredCategories | async; track option) {
                    <mat-option [value]="option.CategoryPositionName">{{option.CategoryPositionName}}</mat-option>
                    }
                </mat-autocomplete>

                <input matInput placeholder="" value="" formControlName="languageId">
                @if(addForm.get('categoryPositionName')?.invalid){
                @if(addForm.get('categoryPositionName')?.hasError('required')){
                <div style="color: red;">Required.</div>
                }
                }
            </mat-form-field>
            @if (addForm.invalid){
            <button color="primary" disabled="true" mat-raised-button (click)="savePosition()"> Submit </button>
            }
            @else {
            <button color="primary" mat-raised-button (click)="savePosition()"> Submit </button>
            } -->
		</form>
	</div>



	<input type="file" (change)="onFileSelected($event)" hidden accept=".jpg, .jpeg, .png" formControlName="imageURL"
		#fileUpload>

</div>