<div class="bg-body-tertiary align-content-center justify-content-center">
	<h1 matDialogTitle class="text-center">Chế muốn đăng xuất thật à</h1>

	<mat-dialog-content> Đừng xa em đêm nay khi bóng trăng qua hàng cây </mat-dialog-content>

	<mat-dialog-actions align="center">
		<!-- <button mat-raised-button color="primary" matDialogClose></button> -->
		<!-- <button cdkFocusInitial></button> -->

		<button mat-raised-button color="primary" (click)="onNoClick()" class="me-3">Thôi, không đăng xuất nữa</button>
		<button mat-button color="warn" (click)="onLogoutClick()" cdkFocusInitial>Đăng xuất đi</button>
	</mat-dialog-actions>
</div>
