<div class="bg-body-tertiary align-content-center justify-content-center">
	<h1 matDialogTitle class="text-center">Are you sure you want to logout?</h1>

	<mat-dialog-content>
		<img src="../../../../assets/logout_meme.jpg" alt="" />
	</mat-dialog-content>

	<mat-dialog-actions align="end">
		<!-- <button mat-raised-button color="primary" matDialogClose></button> -->
		<!-- <button cdkFocusInitial></button> -->

		<button mat-raised-button color="primary" (click)="onNoClick()" class="me-3">No</button>
		<button mat-button color="warn" (click)="onLogoutClick()" cdkFocusInitial>Goodbye</button>
	</mat-dialog-actions>
</div>
