<div class="container-fluid justify-content-center py-2">
	<div class="row">
		<div class="d-none d-lg-block px-3 mx-5 col-auto">
			<div class="card border border-dark rounded">
				<div class="card-body">
					<div class="d-block">
						<div class="justify-content-center">
							<p class="h4">Profile Strength</p>
							<p>Status</p>
							<p>$number completed</p>
						</div>
						<div>
							<ngb-progressbar class="mb-3" [showValue]="true" type="success" [value]="25" />
						</div>
					</div>
					<mat-divider></mat-divider>
					<div>
						<h4>Complete profile to Superstars for attractive CV</h4>
						<div>
							<i class="fa-solid fa-plus"></i>
							<span><a href="#"> Add Work Experience </a></span>
						</div>
						<div>
							<i class="fa-solid fa-plus"></i>
							<span><a href="#"> Add Certificates </a></span>
						</div>
						<div>
							<i class="fa-solid fa-plus"></i>
							<span><a href="#"> Add Awards </a></span>
						</div>
					</div>

					<mat-divider></mat-divider>
					<div>
						<h4>Explore CV templates and download your CV</h4>
						<button mat-button class="bg-danger text-white col-12">Preview and Download</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card shadow-lg border border-dark rounded">
				<!-- GENERAL INFORMATION -->
				<div class="card-body">
					<div class="card shadow-sm">
						<div class="card-body">
							<div class="h4">Candidate name</div>
							<h4>Role</h4>
							<div class="container">
								<div class="row">
									<div class="col">
										<i class="fa-regular fa-envelope p-2" aria-hidden="true"></i>
										<span>email</span>
									</div>
									<div class="col">
										<i class="fa fa-phone-slash p-2" aria-hidden="true"></i>
										<span>phone</span>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<i class="fa-regular fa-calendar p-2" aria-hidden="true"></i>
										<span>birthday</span>
									</div>
									<div class="col">
										<i class="fa fa-venus p-2" aria-hidden="true"></i>
										<span>Male</span>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<i class="fa fa-address-book p-2" aria-hidden="true"></i>
										<span>address</span>
									</div>
									<div class="col">
										<i class="fa fa-globe p-2" aria-hidden="true"></i>
										<span>link</span>
									</div>
								</div>
							</div>
						</div>
						<div class="position-absolute top-4 end-0 p-4">
							<i class="fa-regular fa-pen-to-square text-danger"></i>
						</div>
					</div>
				</div>

				<!-- ABOUT ME -->
				<div class="card-body">
					<div class="card shadow-sm">
						<div class="card-body">
							<div class="h4">About me</div>
							<mat-divider></mat-divider>
							<div class="py-3">
								<p>
									Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui minus non
									exercitationem aut iusto dolorum, veniam atque sit sint, ea placeat dolores incidunt
									cupiditate, delectus maiores dignissimos quo temporibus! Officiis.
								</p>
								<p>
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur itaque maiores
									exercitationem quaerat reiciendis, asperiores quis explicabo unde praesentium! Optio
									quo deserunt iste officia doloremque dicta, quod aliquam. Modi, fugiat?
								</p>
							</div>
						</div>
						<div class="position-absolute top-4 end-0 p-4">
							<i class="fa-regular fa-pen-to-square text-danger"></i>
						</div>
					</div>
				</div>

				<!-- EDUCATION -->
				<div class="card-body">
					<div class="card shadow-sm">
						<p class="h4 pt-4 ps-3">Education</p>
						<div class="position-absolute top-4 end-0 p-4">
							<i class="fa-regular fa-square-plus text-danger"></i>
						</div>
						<mat-divider></mat-divider>
						<!-- list education -->
						<div class="container position-relative p-3 mb-2">
							<div class="position-absolute top-0 end-0">
								<i class="fa-regular fa-pen-to-square text-danger m-3"></i>
								<i class="fa-regular fa-trash-can p-4"></i>
							</div>
							<div>
								<div class="h5">Information technology</div>
								<div class="py-2">University of Technical and Education</div>
								<div class="py-2">10/2020 - NOW</div>
								<div class="py-2">Majoring in Information Systems</div>
								<mat-divider></mat-divider>
							</div>
						</div>
						<div class="container position-relative p-3 mb-2">
							<div class="position-absolute top-0 end-0">
								<i class="fa-regular fa-pen-to-square text-danger m-3"></i>
								<i class="fa-regular fa-trash-can p-4"></i>
							</div>
							<div>
								<div class="h5">Information technology</div>
								<div class="py-2">University of Technical and Education</div>
								<div class="py-2">10/2020 - NOW</div>
								<div class="py-2">Majoring in Information Systems</div>
								<mat-divider></mat-divider>
							</div>
						</div>
						<div class="container position-relative p-3 mb-2">
							<div class="position-absolute top-0 end-0">
								<i class="fa-regular fa-pen-to-square text-danger m-3"></i>
								<i class="fa-regular fa-trash-can p-4"></i>
							</div>
							<div>
								<div class="h5">Information technology</div>
								<div class="py-2">University of Technical and Education</div>
								<div class="py-2">10/2020 - NOW</div>
								<div class="py-2">Majoring in Information Systems</div>
								<mat-divider></mat-divider>
							</div>
						</div>
					</div>
				</div>

				<!-- WORK EXPERIENCE -->
				<!-- EDUCATION -->
				<div class="card-body">
					<div class="card shadow-sm">
						<p class="h4 pt-4 ps-3">Work experience</p>
						<div class="position-absolute top-4 end-0 p-4">
							<i class="fa-regular fa-square-plus text-danger"></i>
						</div>
						<mat-divider></mat-divider>
						<!-- list education -->
						<div class="container position-relative p-3 mb-2">
							<div class="position-absolute top-0 end-0">
								<i class="fa-regular fa-pen-to-square text-danger m-3"></i>
								<i class="fa-regular fa-trash-can p-4"></i>
							</div>
							<div>
								<div class="h5">Information technology</div>
								<div class="py-2">University of Technical and Education</div>
								<div class="py-2">10/2020 - NOW</div>
								<div class="py-2">Majoring in Information Systems</div>
								<mat-divider></mat-divider>
							</div>
						</div>
						<div class="container position-relative p-3 mb-2">
							<div class="position-absolute top-0 end-0">
								<i class="fa-regular fa-pen-to-square text-danger m-3"></i>
								<i class="fa-regular fa-trash-can p-4"></i>
							</div>
							<div>
								<div class="h5">Information technology</div>
								<div class="py-2">University of Technical and Education</div>
								<div class="py-2">10/2020 - NOW</div>
								<div class="py-2">Majoring in Information Systems</div>
								<mat-divider></mat-divider>
							</div>
						</div>
						<div class="container position-relative p-3 mb-2">
							<div class="position-absolute top-0 end-0">
								<i class="fa-regular fa-pen-to-square text-danger m-3"></i>
								<i class="fa-regular fa-trash-can p-4"></i>
							</div>
							<div>
								<div class="h5">Information technology</div>
								<div class="py-2">University of Technical and Education</div>
								<div class="py-2">10/2020 - NOW</div>
								<div class="py-2">Majoring in Information Systems</div>
								<mat-divider></mat-divider>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
