<p class="h1 text-center py-1">Candidate profile</p>
<div class="container-fluid justify-content-center py-2">
	<div class="row">
		<div class="d-none d-lg-block px-3 mx-5 col-auto">
			<div class="card border border-dark rounded">
				<div class="card-body">
					<div class="d-block">
						<div class="justify-content-center">
							<p class="h4">Profile Strength</p>
							<p>Status</p>
							<p>$number completed</p>
						</div>
						<div>
							<ngb-progressbar class="mb-3" [showValue]="true" type="success" [value]="25" />
						</div>
					</div>
					<mat-divider></mat-divider>
					<div>
						<h4>Complete profile to Superstars for attractive CV</h4>
						<div>
							<i class="fa-solid fa-plus"></i>
							<span><a href="#"> Add Work Experience </a></span>
						</div>
						<div>
							<i class="fa-solid fa-plus"></i>
							<span><a href="#"> Add Certificates </a></span>
						</div>
						<div>
							<i class="fa-solid fa-plus"></i>
							<span><a href="#"> Add Awards </a></span>
						</div>
					</div>

					<mat-divider></mat-divider>
					<div>
						<h4>Explore CV templates and download your CV</h4>
						<button mat-button class="bg-danger text-white col-12">Preview and Download</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card shadow-lg border border-dark rounded">
				<!-- GENERAL INFORMATION -->
				<app-personal-detail [candidate]="candidate"></app-personal-detail>

				<!-- EDUCATION -->
				<app-candidate-education></app-candidate-education>

				<!-- WORK EXPERIENCE -->
				<app-work-experience></app-work-experience>

				<!-- SKILLS -->
				<app-candidate-skills></app-candidate-skills>

				<!-- PERSONAL PROJECT -->
				<app-personal-project></app-personal-project>

				<!-- CERTIFICATE -->
				<app-candidate-certificate></app-candidate-certificate>

				<!-- AWARDS -->
				<app-candidate-awards></app-candidate-awards>
			</div>
		</div>
	</div>
</div>
