<div class="card-body">
	<div class="card shadow-sm">
		<p class="h4 pt-4 ps-3">Education</p>
		<div class="position-absolute top-4 end-0 px-3 py-3">
			<button mat-button>
				<i class="fa-regular fa-square-plus text-danger"></i>
			</button>
		</div>
		<mat-divider></mat-divider>
		<!-- list education -->
		<div class="container position-relative p-3 mb-2">
			<div class="position-absolute top-0 end-0 p-2">
				<button mat-button>
					<i class="fa-regular fa-pen-to-square text-danger m-3"></i>
				</button>
				<button mat-button>
					<i class="fa-regular fa-trash-can p-4"></i>
				</button>
			</div>
			<div>
				<div class="h5">Information technology</div>
				<div class="py-2">University of Technical and Education</div>
				<div class="py-2">10/2020 - NOW</div>
				<div class="py-2">Majoring in Information Systems</div>
				<mat-divider></mat-divider>
			</div>
		</div>
	</div>
</div>
