<!-- breadcrumb.component.html -->
<nav>
	<!-- <div class="container d-flex pt-3"> -->
	<ol class="breadcrumb shadow-lg bg-white">
		<li class="breadcrumb-item">
			<a href="" class="pr-md-3 pl-md-2 pr-2 pl-1">Home</a>
		</li>
		<ng-container *ngFor="let breadcrumb of breadcrumbs; let last = last">
			<ng-container *ngIf="!last">
				<li class="breadcrumb-item">
					<a [routerLink]="breadcrumb.url" class="pr-md-3 pl-md-2 pr-2 pl-1">{{ breadcrumb.label }}</a>
				</li>
			</ng-container>
			<ng-container *ngIf="last">
				<li class="breadcrumb-item">
					<a class="px-md-3 px-1 active-1">{{ breadcrumb.label }}</a>
				</li>
			</ng-container>
		</ng-container>
	</ol>
	<!-- </div> -->
</nav>
