<div class="container">
	<div class="row">
		<div class="col-12 col-md-5">
			<app-left-table
				[leftTable]="leftData$"
				[cate]="cate"
				[currentQues]="currentQues"
				(questionSelected)="onQuestionSelected($event)">
			</app-left-table>
		</div>
		<!-- <div
			class="col-12 col-md-2 d-flex flex-column align-items-center justify-content-center">
			<app-button-transfer
				[currentChosen]="selectedQuestion ? [selectedQuestion] : []"
				(transfer)="handleTransfer()">
			</app-button-transfer>
		</div> -->
		<div class="col-12 col-md-5">
			<!-- <app-right-table
				[rightTable]="rightData$"
				[cate]="cate"
				[currentSubTab]="currentSubTab"
				(currentSubTabChange)="setCurrentSubTab($event)"
				(currentQuesChange)="setCurrentQuesFromEvent($event)">
			</app-right-table> -->

			<div class="container">
				<form (ngSubmit)="addQuestion()" class="mb-3">
					<mat-form-field class="w-100">
						<mat-label>Input question</mat-label>
						<input
							matInput
							[(ngModel)]="newQuestion"
							name="newQuestion"
							required />
					</mat-form-field>
					<button mat-raised-button color="primary" type="submit">
						Add question
					</button>
				</form>

				<table class="table" *ngIf="questions.length > 0">
					<thead>
						<tr>
							<th>Question</th>
							<th>Score</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let question of questions; let i = index">
							<td>{{ question.text }}</td>
							<td>
								<mat-form-field>
									<mat-label>Score</mat-label>
									<input
										matInput
										type="number"
										[(ngModel)]="question.score"
										(change)="onScoreChange()"
										name="score{{ i }}" />
								</mat-form-field>
							</td>
							<td>
								<button
									mat-icon-button
									color="warn"
									(click)="deleteQuestion(i)">
									<mat-icon>delete</mat-icon>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
