<div class="d-block justify-content-center p-5 border-info rounded">
	<div class="bg-body-tertiary">
		Upload CV để các cơ hội việc làm tự tìm đến bạn Giảm đến 50% thời gian cần thiết để tìm được một công việc phù
		hợp
	</div>
	<div>
		<div>
			Bạn đã có sẵn CV của mình, chỉ cần tải CV lên, hệ thống sẽ tự động đề xuất CV của bạn tới những nhà tuyển
			dụng uy tín. <br />
			Tiết kiệm thời gian, tìm việc thông minh, nắm bắt cơ hội và làm chủ đường đua nghề nghiệp của chính mình.
		</div>
		<div></div>
		<div
			class="file-drop-zone"
			(drop)="onDrop($event)"
			(dragover)="onDragOver($event)"
			(dragleave)="onDragLeave($event)">
			<input type="file" #fileInput hidden (change)="onFileSelected($event)" />
			<button mat-raised-button (click)="fileInput.click()">Choose File</button>
			<p class="p-2">or drag and drop files here</p>
		</div>
		<div class="d-flex justify-content-center p-5 rounded">
			<button mat-raised-button class="col-4" color="primary">UPLOAD</button>
		</div>
	</div>
</div>
