<div class="container">
	<div class="w-100 d-flex flex-row justify-content-center">
		<div class="fs-3 p-4" style="margin: auto; margin-top: 50px; margin-bottom: 20px;">APPLICATION LIST</div>
	</div>
	<div class="mt-2 mb-2 d-flex me-4 flex-row-reverse fs-3">
		Result count: {{this.fetchedApplications?.length}}
	</div>
	<!-- start -->
	<div class="row g-0" style="height: fit-content; margin-bottom: 20px;">
		<div class="col-lg-3 col-md-12 p-2 rounded-3" style="background-color: rgb(37, 114, 176); height: fit-content;">
			<div class="mt-2 ms-4 w-100" style="color: white; font-size: 18px; font-weight: 600;">FILTER</div>
			<form class="p-4 w-100" [formGroup]="this.filterForm">
				<mat-form-field class="w-100">
					<mat-label>Search</mat-label>
					<input matInput type="text" formControlName="search" placeholder="Candidate name, skill name">
				</mat-form-field>
				<mat-form-field class="w-100">
					<mat-label>Sort</mat-label>
					<mat-select formControlName="sortString">
						<mat-option value="CreatedTime_DESC">Newest</mat-option>
						<mat-option value="CreatedTime_ASC">Oldest</mat-option>
						<mat-option value="Priority_DESC">Descending Prioriry</mat-option>
						<mat-option value="Priority_ASC">Ascending Prioriry</mat-option>
					</mat-select>
				</mat-form-field>
				<!-- <mat-form-field class="w-100">
					<mat-label>Candidate Status</mat-label>
					<mat-select formControlName="candidateStatus">
						<mat-option value=""></mat-option>
						<mat-option value="{{this.application_CandidateStatus.Pending}}">Pending</mat-option>
						<mat-option value="{{this.application_CandidateStatus.Passed}}">Passed</mat-option>
					</mat-select>
				</mat-form-field> -->
				<mat-form-field class="w-100">
					<mat-label>Status</mat-label>
					<mat-select formControlName="companyStatus">
						<mat-option value=""></mat-option>
						<mat-option style="color: darkgoldenrod"
							value="{{this.application_CompanyStatus.PENDING}}">PENDING</mat-option>
						<mat-option style="color: darkgoldenrod"
							value="{{this.application_CompanyStatus.NEED_SCHEDULE}}">NEED SCHEDULE</mat-option>
						<mat-option style="color: darkgreen"
							value="{{this.application_CompanyStatus.SCHEDULED}}">SCHEDULED</mat-option>
						<mat-option style="color: darkgreen"
							value="{{this.application_CompanyStatus.CAND_ACCEPTED}}">CANDIDATE
							ACCEPTED</mat-option>
						<mat-option style="color: darkred"
							value="{{this.application_CompanyStatus.CAND_REJECTED}}">CANDIDATE
							REJECTED</mat-option>
						<mat-option style="color: darkgreen"
							value="{{this.application_CompanyStatus.CONFIRM_N_MAILED}}">CONFIRM AND
							MAILED</mat-option>
						<mat-option style="color: darkred"
							value="{{this.application_CompanyStatus.REJECTED}}">REJECTED</mat-option>
					</mat-select>
				</mat-form-field>
				<section class="w-100"
					style="background-color: #ffffff; border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem;">
					<p class="p-3"><mat-slide-toggle formControlName="notInBlackList"> Not in
							blacklist</mat-slide-toggle>
					</p>
				</section>
				<mat-form-field class="w-100 mt-2">
					<mat-label>Date</mat-label>
					<mat-date-range-input [rangePicker]="picker">
						<input matStartDate oninput="this.value=this.value.replace(/[^0-9\/]/g,'')"
							formControlName="fromDate" placeholder="From date" #fromDatePicker>
						<input matEndDate oninput="this.value=this.value.replace(/[^0-9\/]/g,'')"
							formControlName="toDate" placeholder="To date" #toDatePicker>
					</mat-date-range-input>
					@if( fromDatePicker.value || toDatePicker.value){
					<button (click)="fromDatePicker.value=''; toDatePicker.value='' ;
					this.filterForm.get('fromDate')?.setValue(null); this.filterForm.get('toDate')?.setValue(null)" mat-icon-button>
						<mat-icon style="color: red;">delete</mat-icon>
					</button>
					}
					<mat-hint style="font-size: 13px; font-weight: 500; color: white;">DD/MM/YYYY –
						DD/MM/YYYY</mat-hint>
					<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-date-range-picker #picker></mat-date-range-picker>
				</mat-form-field>
			</form>
		</div>
		<div class="col-lg-9 col-md-12 p-2" style="height: 570px; overflow-y: scroll;">
			@for (item of fetchedApplications ; track item) {
			<div class="row g-0 align-items-center py-3 my-4 w-100" style="height: fit-content;">
				<div class="col-lg-6 col-md-12 col-sm-12"
					style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); border-top-left-radius: 0.25rem; border-bottom-left-radius: 0.25rem; height: 150px; background-color: rgb(241, 199, 136);">
					<div class="w-75">
						<div class="p-1 px-4 w-100 shadow"
							style="color: #ffffff; font-weight: 500; font-size: 17px; border-top-left-radius: 0.25rem; border-bottom-right-radius: 0.9rem; background-color: rgb(0, 32, 149);">
							{{item.createdTime | date:'fullDate'}}
						</div>
						<div class="p-2 mt-2 d-flex flex-row w-100">
							@for (candidateHasSkill of item.cv?.candidate?.candidateHasSkills; track candidateHasSkill)
							{
							<div matTooltip="{{candidateHasSkill.level}}">
								<div class="p-2 m-2 rounded-3"
									style="background-color: rgb(107, 107, 107); color: #ffffff; font-weight: 500; border:  rgb(49, 49, 49) solid 1px;">
									{{candidateHasSkill?.skill?.skillName}}</div>
							</div>
							}
						</div>
						<div class="p-2 d-flex flex-row w-100">
							<div>Status:
								@switch (item.company_Status) {
								@case (this.application_CompanyStatus.PENDING) {
								<span class="p-2 rounded-3 bg-warning text-dark fw-bold">
									PENDING
								</span>
								}
								@case (this.application_CompanyStatus.NEED_SCHEDULE) {
								<span class="p-2 rounded-3 fw-bold"
									style="background-color: white; color: darkgoldenrod;">
									NEED SCHEDULE
								</span>
								}
								@case (this.application_CompanyStatus.SCHEDULED){
								<span class="p-2 rounded-3 fw-bold" style="background-color: white; color: green;">
									SCHEDULED
								</span>
								}
								@case (this.application_CompanyStatus.CAND_ACCEPTED){
								<span class="p-2 rounded-3 fw-bold" style="background-color: white; color: green;">
									CANDIDATE ACCEPTED
								</span>
								}
								@case (this.application_CompanyStatus.CAND_REJECTED){
								<span class="p-2 rounded-3 fw-bold bg-danger text-white">
									CANDIDATE REJECTED
								</span>
								}
								@case (this.application_CompanyStatus.CONFIRM_N_MAILED){
								<span class="p-2 rounded-3 bg-success text-white fw-bold">
									CONFIRM AND MAILED
								</span>
								}
								@case (this.application_CompanyStatus.REJECTED) {
								<span class="p-2 rounded-3 bg-danger text-white fw-bold">
									REJECTED
								</span>
								}
								}
							</div>
						</div>

					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 rounded-2 d-flex flex-column justify-content-between"
					style="border: rgb(106, 106, 106) solid 2px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); background-color: rgb(241, 199, 136); color:black; font-size: 16px; font-weight: 500; height: 170px;">
					<div class="row px-3">
						<div class="pe-3 pt-4 col-9" style="font-size: 20px;">
							<div class="d-flex flex-row w-100">
								<div class="w-100">{{item.cv?.candidate?.user?.fullName| uppercase }}</div>
								@if (this.isInBlackList(item.cv?.candidateId)) {
								<div style="font-size: 30px; color: black; width: 14%;"
									matTooltip="This candidate is in blacklist">
									<i class="bi bi-exclamation-circle-fill"></i>
								</div>
								}
							</div>
						</div>
						<div class="col-3">
							<div matRipple [matRippleCentered]="true" style="height: fit-content; width: fit-content;"
								class="custom-button rounded-5 p-2 mt-3">
								<div style="height: 24px; width: 24px;" [matMenuTriggerFor]="menu">
									<mat-icon>more_vert</mat-icon>
								</div>
								<mat-menu style="font-size: 15px;" #menu="matMenu">
									<button
										[disabled]="(item.company_Status !== this.application_CompanyStatus.CONFIRM_N_MAILED) || (item.interviews?.length !== 0)"
										class="bg-success text-white"
										(click)="openAddInterviewDialog(item.applicationId, '100ms' , '0ms' )"
										mat-menu-item><i class="bi bi-person-add"></i>
										Create
										Interview</button>

									<button class="bg-secondary text-white"
										(click)=" openViewApplicationHistoryDialog(item.cv?.candidateId, '100ms' , '0ms' )"
										mat-menu-item><i class="bi bi-clock-history"></i>
										View
										History</button>
									<button class="bg-info text-white"
										(click)="openGmailSearch(item.cv?.candidate?.user?.email)" mat-menu-item><i
											class="bi bi-envelope-at-fill"></i> View All Mail</button>
									@if (item.company_Status === this.application_CompanyStatus.PENDING) {
									<button
										(click)="openConfirmDialog('100ms', '0ms', this.application_CompanyStatus.NEED_SCHEDULE, item.applicationId)"
										style="color: green;" class="text-green" mat-menu-item><i
											class="bi bi-check-circle-fill"></i> NEED SCHEDULE</button>
									<button
										(click)="openConfirmDialog('100ms', '0ms', this.application_CompanyStatus.REJECTED, item.applicationId)"
										style="color: red;" class="text-red" mat-menu-item><i
											class="bi bi-ban-fill"></i> REJECTED</button>
									}
									@if (item.company_Status === this.application_CompanyStatus.NEED_SCHEDULE){
									<button (click)="this.openEmail(item.cv?.candidate?.user?.email)"
										class="text-white bg-success" mat-menu-item><i
											class="bi bi-envelope-at-fill"></i> Set Up Schedule</button>
									<button
										(click)="openConfirmDialog('100ms', '0ms', this.application_CompanyStatus.SCHEDULED , item.applicationId)"
										style="color: green;" mat-menu-item><i class="bi bi-check-circle-fill"></i>
										SCHEDULED</button>
									}
									@if (item.company_Status === this.application_CompanyStatus.SCHEDULED){
									<button
										(click)="openConfirmDialog('100ms', '0ms', this.application_CompanyStatus.CAND_ACCEPTED , item.applicationId)"
										style="color: green;" mat-menu-item><i class="bi bi-person-fill-check"></i>
										CANDIDATE ACCEPTED</button>
									<button
										(click)="openConfirmDialog('100ms', '0ms', this.application_CompanyStatus.CAND_REJECTED , item.applicationId)"
										style="color: red;" mat-menu-item><i class="bi bi-person-fill-dash"></i>
										CANDIDATE REJECTED</button>
									}
									@if (item.company_Status === this.application_CompanyStatus.CAND_ACCEPTED){
									<button (click)="this.openEmail(item.cv?.candidate?.user?.email)"
										class="text-white bg-success" mat-menu-item><i
											class="bi bi-envelope-at-fill"></i> Write Confirm Email</button>
									<button
										(click)="openConfirmDialog('100ms', '0ms', this.application_CompanyStatus.CONFIRM_N_MAILED , item.applicationId)"
										style="color: green;" mat-menu-item><i class="bi bi-check-circle-fill"></i>
										CONFIRMED</button>
									}
								</mat-menu>

							</div>
						</div>
					</div>
					<div class="ps-3 pe-3 pb-4" style="font-size: 17px; line-height: 25px;">
						<div>
							Date of birth:
							<span style="font-weight:400;">{{item.cv?.candidate?.user?.dateOfBirth
								|
								date:'dd/MM/yyyy' }}</span>
						</div>
						<div class="w-100" matTooltip="{{item.cv?.candidate?.aboutMe}}" style="white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis; font-weight: 400; ">
							{{item.cv?.candidate?.aboutMe}}</div>
						<div class="w-100">CV: <a href="{{item.cv?.cvPdf}}">{{item.cv?.cvName}}</a></div>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-12 py-2 d-flex flex-column align-items-center">
					@if (item.cv?.candidate?.user?.imageURL) {
					<img class="ms-2"
						style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); border: black solid 2px; border-radius: 50%; width: 160px; height: 160px;"
						src="{{item.cv?.candidate?.user?.imageURL}}" alt="{{item.cv?.candidate?.user?.fullName}}" />
					}
					@else {
					<img class="ms-2"
						style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); border-radius: 50%; width: 160px; height: 160px; border: black solid 1px;"
						src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmHkj6-Tndku8K2387sMaBf2DaiwfBtHQw951-fc9zzA&s"
						alt="{{item.cv?.candidate?.user?.fullName}}" />
					}
				</div>
			</div>
			}
		</div>

	</div>
	<!-- End -->
</div>