<div class="card-body">
	<div class="card shadow-sm">
		<p class="h4 pt-4 ps-3">Skills</p>
		<div class="position-absolute top-4 end-0 p-4">
			<a mat-button (click)="onClickEdit()">
				<i class="fa-regular fa-pen-to-square text-danger"></i>
			</a>
		</div>
		<mat-divider></mat-divider>
		<!-- list skills -->
		<div class="container position-relative p-3 mb-2">
			<div>
				<div class="h5">.NET Web Developer Intern</div>
				<div class="h6 py-2">FPT Software</div>
				<div class="h6 py-2">10/2020 - NOW</div>
				<div class="h6 py-2">Project</div>
				<div class="py-2">
					<mat-divider></mat-divider>
				</div>
			</div>
		</div>
	</div>
</div>
