<p class="h1 text-center py-3">Manage CVs</p>
<app-upload-cv (cvUploaded)="handleRefresh()"></app-upload-cv>
<mat-divider></mat-divider>
<p class="h1 text-center py-3">Your CVs</p>

<div class="card-container d-block">
	<div class="row">
		<div class="col-lg-4 col-md-6 mb-4" *ngFor="let cv of listCvsOfCandidate">
			<mat-card>
				<mat-card-header>
					<mat-card-title>{{ cv.cvName }}</mat-card-title>
					<mat-card-subtitle>{{ cv.aboutMe }}</mat-card-subtitle>
				</mat-card-header>
				<mat-card-content>
					<ng2-pdfjs-viewer pdfSrc="{{ cv.cvPdf }}"> </ng2-pdfjs-viewer>
				</mat-card-content>
				<mat-card-actions align="end">
					<button mat-button color="primary" (click)="onClickView(cv.cvPdf)">View CV</button>
					<button mat-button color="warn" (click)="onClickDelete(cv.cvPdf)">Delete CV</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>
