<div id="google-login-button" class="login-button btn btn-primary" (click)="this.log()">CONSOLE LOG</div>
@if (this.fragment !== null) {
<div class="w-100 d-flex flex-column align-items-center pb-4 justify-content-center" style="height: 100vh;">
	<div class="fs-4 fw-bold">LOGIN SUCCESSFULLY</div>
	<div class="p-4">Please close this window</div>
</div>
}
@else {
<div class="w-100 d-flex flex-column align-items-center pb-4 justify-content-center" style="height: 100vh;">
	<div class="fs-4 fw-bold">LOGIN FAILED</div>
	<div class="p-4">Please close this window and try again</div>
</div>
}