<h2 mat-dialog-title>
	Apply for
	<p class="text-primary d-inline">
		{{ data.position?.positionName | uppercase }}
	</p>
</h2>
<mat-dialog-content class="mat-typography shadow">
	<div>
		<p class="p-3 text-primary">Select CV to apply</p>
	</div>

	<form [formGroup]="applyForm">
		<mat-accordion>
			<mat-radio-group aria-label="Select a CV">
				<mat-expansion-panel
					(afterExpand)="onChangeOptionCv('default')"
					(afterCollapse)="onChangeOptionCv('default')"
					class="py-3">
					<mat-expansion-panel-header>
						<mat-panel-title> Most recently applied CV: {{ defaultCv?.cvName }}</mat-panel-title>
						<mat-panel-description class="d-flex justify-content-end">
							<a href="{{ defaultCv?.cvPdf }}" target="_blank"> View CV </a>
						</mat-panel-description>
					</mat-expansion-panel-header>
					<div>First and last name: {{ candidate?.user?.fullName }}</div>
					<div>Email: {{ candidate?.user?.email }}</div>
					<div>Phone number: {{ candidate?.user?.phoneNumber }}</div>
				</mat-expansion-panel>
				<mat-expansion-panel
					(afterExpand)="onChangeOptionCv('orther')"
					(afterCollapse)="onChangeOptionCv('default')"
					class="py-3">
					<!-- <mat-radio-button formControlName="formControlName"></mat-radio-button> -->
					<mat-expansion-panel-header>Select another CV in my CV library</mat-expansion-panel-header>
					<mat-radio-group formControlName="selectedCv">
						<div *ngFor="let cv of listCv">
							<div class="d-flex align-items-center">
								<mat-radio-button [value]="cv.cvid"> {{ cv.cvName }} </mat-radio-button>
								<button mat-button>View CV {{ cv.cvName }}</button>
							</div>
						</div>
					</mat-radio-group>
				</mat-expansion-panel>
			</mat-radio-group>
		</mat-accordion>

		<p class="p-3 text-primary">
			A concise, well-written cover letter will help you become more professional and impress the employer.
		</p>
		<mat-form-field appearance="fill" style="width: 100%">
			<mat-label>Introducing letter:</mat-label>
			<textarea matInput formControlName="aboutMe" cdkTextareaAutosize style="width: 100%"></textarea>
		</mat-form-field>
	</form>

	<div class="mt-3 border-dark rounded shadow p-2">
		<div>
			<p class="text-danger h3">Note:</p>
		</div>
		<div>
			<p>
				TopCV advises all of you to always be careful during the job search process and proactively research
				company information and job positions before applying.
			</p>
			<p>
				Candidates need to be responsible for their application behavior. If you encounter recruitment news or
				receive suspicious contact from an employer, please immediately report to TopCV via email
				jasmine&#64;gmail.com for timely support.
			</p>
			<p>
				Learn more about fraud prevention
				<a href="https://blog.topcv.vn/huong-dan-tim-viec-an-toan-trong-ky-nguyen-so/">here</a>.
			</p>
		</div>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button color="warn" mat-dialog-close class="col-2">Cancel</button>
	<button
		mat-raised-button
		color="primary"
		[mat-dialog-close]="true"
		cdkFocusInitial
		class="col-3"
		(click)="onClickApply()">
		Apply
	</button>
</mat-dialog-actions>
